body {
  font-family: sans-serif;
  background-color: #222;
  color: #eee;
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.sliders,
.effects,
.controls,
.visualizers {
  margin: 20px 0;
}

.sliders label span {
  display: inline-block;
  width: 70px;
  margin-left: 10px;
}

canvas {
  background: #111;
}
